@font-face {
font-family: 'housterr';
src:
url:('https://github.com/JonnyGC22/jonnygc22.github.io/raw/main/housterr/housterr.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

/*
url ('https://github.com/JonnyGC22/jonnygc22.github.io/raw/main/housterr/housterr.woff') format('woff'),
/*
